.playAgainContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
